.card-container {
    flex-direction: row;
    border-style: solid;
    width: 400px;
    height: 300px;
    padding: 50px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 10px;
    text-align: center;
}

#notify {
    text-align: center;
}
.student-list-con {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}